<% provide :title, t("dashboard") %>
<div class="content-wrapper">
  <section class="content-header">
  </section>
  <section class="content">
    <div class="box">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    </div>
  </section>
</div>
