<% provide :title, t("page_title.edit_user") %>
<% provide :button_text, t("button.save_change") %>
<% provide :header_partial, "shared/header_partial/title" %>

<div class="site-section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-9 offset-md-2">
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>
