<div class="list_post">
    <% @popular_places.each do |popular_place| %>
        <div class="d-block d-md-flex listing-horizontal">

            <a href="#" class="img d-block">
            <% if popular_place.travel_place_images.first %>
                <%= image_tag(popular_place.travel_place_images.first.link, class: "img-fluid picture") %>
            <% end %>
            <span class="category"><%= popular_place.type_travel_place_name %></span>
            </a>

            <div class="lh-content">
                <a href="#" class="bookmark"><span class="icon-heart"></span></a>
                <h3><%= link_to popular_place.name, detail_index_path(name: popular_place.name) %></h3>
                <p><%= popular_place.address %></p>
            </div>
        </div>
    <% end %>
</div>
