@import 'bootstrap/variables';
@import 'font-awesome-sprockets';
@import 'font-awesome';

/* mixins, variables, etc. */
$gray-medium-light: #eaeaea;
$whisper: #e8e8e8;
$white-smoke: #f5f5f5;

.popular_post_image{
  width: 350px !important;
  height: 200px !important;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* Up Post Card*/
.up-post-card{
   margin-bottom: 20px;
}

/* Profile Card */
aside {
  .card-profile {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  .card-follow {
    margin-top: 15px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* Users index */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* posts */
.posts {
  list-style: none;
  padding: 0;
  li {
    border-top: 1px solid $whisper;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    margin-right: 60px;
    .carousel-inner > .carousel-item > img {
      width:640px;
      height:420px;
    }
    margin-bottom: 10px;
  }
  .reaction-amount{
    display: block;
    margin-left: 60px;
    margin-right: 60px;
    .comment {
      color: $gray-light;
      display: block inline;
      font-size: medium;
    }
    .like {
      color: $gray-light;
      display: block inline;
      font-size: medium;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
    font-size: small;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    margin-left: 5px;
  }
  .address-card {
    width: 10rem;
    background-color: $white-smoke;
    .address{
      color: $gray-light;
      display: block;
      font-size: small;
    }
  }
  .post-card{
    margin-bottom: 20px;
  }
}

/*Modal Like*/
.list-like-modal{
  .modal-dialog{
    overflow-y: initial !important
  }
  .modal-body{
    height: 400px;
    overflow-y: auto;
  }
}

/*Modal Comment*/
.list-comment-modal{
  .modal-dialog{
    overflow-y: initial !important
  }
  .modal-body{
    height: 300px;
    overflow-y: auto;
  }
  .modal-comment-input{
    padding-left: 10px;
    padding-right: 10px;
  }
  .comment-timestamp {
    color: $gray-light;
    font-size: small;
  }
  .comment-content{
    display: block;
  }
  .comment-edit{
    float:right;
  }
}

textarea{
  width:100%;
  height:100%;
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

textarea{
  width:100%;
  height:100%;
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/*Auto complete*/
ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #000;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #FFFCB2;
    }
  }
}

.list_post{
  width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.site-blocks-cover.overlay {
  overflow: hidden;
}
.site-blocks-cover, .site-blocks-cover > .container > .row {
  min-height: 400px !important;
  height: calc(50vh) !important;
}
.err-msg{
  font-style: italic;
  color: red;
}
.image_detail{
  display: block;
  margin: auto;
  width: 700px;
  height: 400px;
  object-fit: cover;
}

.text_center{
  text-align: center;
}

.text_content{
  text-align: justify;
}

.box_center{
  display: flex;
  justify-content: center;
}

.carousel-control-prev, .carousel-control-next {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15%;
  text-align: center;
  opacity: 0.5;
  margin: 20px;
}

.box{
  margin: auto;
  width: 80%;
}

.post{
  height: 200px;
  border: 1px solid $gray-medium-light;
}

.user_box{
  background-color: $gray-medium-light;
  text-align: center;
  width: 20%;
}

.content_box{
  margin-left: 20px;
  margin-top: 20px;
  width: 70%;
}

.detail{
  height: 500px;
}

.content{
  height: 80%;
}

.button_bottom{
  position: absolute;
  bottom: 0;
}
.img-thumb{
  display: block;
  height: 30px;
  width: 100%;
  object-fit: cover;
  margin: auto;
}
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  margin: auto;
  list-style: none;
  width: 100%;
}
.thumb{
  margin: auto;
}

.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: 150px;
}

.card-width{
  width: 50%;
  padding: 5px;
}

.picture{
  height: 150px;
  width: 200px;
}
