<% provide :title, t("label.your_notifications") %>
<% provide :header_partial, "shared/header_partial/title" %>
<div class="box_center pt-3 site-section bg-light">
  <div class="notification_wrapper list-notifications-bg">
    <div class="notifications">
      <% if @index_options[:with_group_members] %>
        <%= render_notification @notifications, @index_options.slice(:routing_scope, :devise_default_routes).merge(fallback: :default_without_grouping, with_group_members: true) %>
      <% else %>
        <%= render_notification @notifications, @index_options.slice(:routing_scope, :devise_default_routes).merge(fallback: :default) %>
        <%#= render_notification @notifications, @index_options.merge(fallback: :text) %>
      <% end %>
    </div>
  </div>
</div>
<%#= render_notifications_of @target, @index_options.slice(:routing_scope, :devise_default_routes).merge(fallback: :default, index_content: :with_attributes) %>
<%#= render_notifications_of @target, @index_options.slice(:routing_scope, :devise_default_routes).merge(fallback: :default, index_content: :unopened_with_attributes, reverse: true) %>
<%#= render_notifications_of @target, @index_options.slice(:routing_scope, :devise_default_routes).merge(fallback: :default_without_grouping, index_content: :with_attributes, with_group_members: true) %>
