<footer >
  <div class="container">
    <div class="row pt-5 mt-5">
      <div class="col-12 text-md-center text-left">
        <p>
          <strong class="text-black"><%= t ".travel" %></strong><%= t ".free" %><br>
          <%= t ".design" %>
        </p>
      </div>
    </div>
  </div>
</footer>
